.container {
  text-align: center;
  margin-top: 100px;
  font-family: "Noto Sans TC", sans-serif;
}

.btn-group {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 15px 30px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 0.2s;
}

.student {
  background-color: #0078ff;
}

.admin {
  background-color: #00b347;
}

.btn:hover {
  opacity: 0.8;
}
